/* Typography */

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

/* Structure */

h1 {
    text-align: center;
    font-size: 250%;
}

body {
    margin: auto;
    width: 90%;
    background: url(images/background.png);
}

.rest {
    border-radius: 5px;
    background-color: rgba(169, 157, 140, 0.566);
    box-shadow: #4b5e5e 5px 5px 5px;
    padding: 20px;
    margin: 20px 0px;
}

img {
    border: 3px solid white;
    width: 99%;
    height: auto;
    margin: 0px auto;
    border-radius: 10px;
}

.info {
    margin: 0px 20px;
}

.info li {
    padding: 10px 0px;
}

.hidden {
    display: none;
}

.rev {
    text-decoration: underline transparent 1px;
}

.rev,
.line {
    display: inline;
}

.rev:hover {
    text-decoration: underline white 1px;
}

/* Media Query */

@media only screen and (min-width: 800px) {
    .flex-container {
        display: flex;
        align-items: flex-start;
    }

    img {
        width: 30%;
        height: auto;
    }
}